﻿<h2>Kalendarz</h2>

<div class="row">
    <div class="col-md-4">
        <div class="">
            <ul data-bind="foreach: { data: tasks, as: 'task' }">
                <li data-bind="text: task, valueUpdate: 'afterkeydown'"></li>
            </ul>
            <button data-bind="click: prev">PREVIOUS</button>
            <button data-bind="click: next">NEXT</button>
        </div>
    </div>
</div>

@section Scripts 
{
    <script>
        $(function () {
            var zadanieViewModel = function () {
                this.self = this;

                self.tasks = ko.observableArray();

                self.getData = function (number) {
                    $.get("@Url.Action("GetData")", { monthIndex: number }, function (data) {
                        self.tasks(data.map(function (x) {
                            return x.TaskName;
                        }));
                    });
                };

                self.current = ko.observable(@DateTime.Now.Month);
                self.getData(current);

                self.prev = function () {
                    self.current(self.current() - 1);
                    self.getData(current);
                };

                self.next = function () {
                    self.current(self.current() + 1);
                    self.getData(current);
                };
            };

            ko.applyBindings(new zadanieViewModel());
        });
    </script>
}