﻿<h2>Kalendarz</h2>

<div class="row">
    <div class="col-md-4">
        <div class="">
            <ul class="tasks">
            </ul>
            <button class="prev">PREVIOUS</button>
            <button class="next">NEXT</button>
        </div>
    </div>
</div>

@section Scripts 
{
    <script>
        $(function() {
            this.self=this;

            self.getData = function(number) {
                $.get("@Url.Action("GetData")", { monthIndex: number }, function(data) {                   
                    $('.tasks').empty();
                    for (var i in data) {
                        var item = $("<li/>")
                            .text(data[i].TaskName);
                        $('.tasks').append(item);
                    }
                });
            };       

            self.current = @DateTime.Now.Month;
            self.getData(current);

            $('.prev').click(function() {
                self.current--;
                self.getData(current);
            });
            
            $('.next').click(function() {
                self.current++;
                self.getData(current);
            });
        });
    </script>
}