﻿<div ng-controller="Controller">
    <div>
        <label for="numVal">Liczba wartości do intepolacji  </label>
        <input type="number" ng-model="numberOfValues" ng-change="clear()" id="numVal" min="1" />
    </div>
    <div ng-repeat="n in [] | range:numberOfValues">
        <label for="x{{n + 1}}">x{{n + 1}}</label>
        <input type="number" @*step="{{Math.pow(10,-step)}}"*@ step="any" placeholder="x{{n + 1}}" ng-model="xArr[n]" id="x{{n + 1}}" />
        <label for="y{{n + 1}}">y{{n + 1}}</label>
        <input type="number" @*step="{{Math.pow(10,-step)}}"*@ step="any" placeholder="y{{n + 1}}" ng-model="yArr[n]" id="y{{n + 1}}" />
    </div>
    <input type="submit" value="Pobierz parametry funkcji interpolującej" ng-click="getParams()" ng-show="moreThanZero" class="btn btn-primary" />
    <div ng-show="visible">
        <div>
            <label for="lineParams">W przypadku interpolacji liniowej:</label>
            <ul class="list-inline">
                <li ng-repeat="parameter in polynomialParams1">a{{parameter.index}}={{parameter.value}}</li>
            </ul>
        </div>
        <div>
            <label for="ChebyshevParams">W przypadku interpolacji za pomocą wielomianu Czebyszewa:</label>
            <ul class="list-inline">
                <li ng-repeat="parameter in polynomialParams2">a{{parameter.index}}={{parameter.value}}</li>
            </ul>
        </div>
        <div>
            <label for="HermiteParams">W przypadku interpolacji za pomocą wielomianu Hermite'a:</label>
            <ul class="list-inline">
                <li ng-repeat="parameter in polynomialParams3">a{{parameter.index}}={{parameter.value}}</li>
            </ul>
        </div>
        <div>
            <label>Wzory interpolujące</label>
            <ul class="list-inline">
                <li>W przypadku interpolacji liniowej:</li>
                <li id="f1">{{formula1}}</li>
            </ul>
            <ul class="list-inline">
                <li>W przypadku interpolacji za pomocą wielomianu Czebyszewa:</li>
                <li id="f2">{{formula2}}</li>
            </ul>
            <ul class="list-inline">
                <li>W przypadku interpolacji za pomocą wielomianu Hermite'a:</li>
                <li id="f3">{{formula3}}</li>
            </ul>
        </div>
    </div>
    <div ng-show="moreThanZero">
        <p>Wpisz wartość, którą chcesz interpolować</p>
        <input type="number" step="any" ng-model="value" placeholder="Wprowadź wartość" />
        <input type="submit" value="Oblicz" ng-click="getValue(value)" class="btn btn-primary" />
        <div ng-show="valVisible">
            <ul class="list-inline">
                <li>W przypadku interpolacji liniowej:</li>
                <li id="res1">{{result1}}</li>
            </ul>
            <ul class="list-inline">
                <li>W przypadku interpolacji za pomocą wielomianu Czebyszewa:</li>
                <li id="res2">{{result2}}</li>
            </ul>
            <ul class="list-inline">
                <li>W przypadku interpolacji za pomocą wielomianu Hermite'a:</li>
                <li id="res3">{{result3}}</li>
            </ul>
        </div>
    </div>
    <div ng-show="moreThanZero">
        <input type="submit" value="Rysuj" ng-click="drawChart()" class="btn btn-primary" />
        <div ng-show="drawVisible">
            <label for="legenda">Legenda</label>
            <div id="legenda">
                <p>Czerwony - krzywa interpolacji liniowej</p>
                <p>Zielony - krzywa interpolacji wielomianem Czebyszewa</p>
                <p>Niebieski - krzywa interpolacji wielomianem Hermite'a</p>
            </div>
            <label for="wartosci">Podaj wartośći: minX, maxX, minY, maxY oraz co ile rozmieścić jednostkę</label>
            <div id="wartosci">
                <input type="number" ng-model="minX" ng-change="refreshChart()" step="any" />
                <input type="number" ng-model="maxX" ng-change="refreshChart()" step="any" />
                <input type="number" ng-model="minY" ng-change="refreshChart()" step="any" />
                <input type="number" ng-model="maxY" ng-change="refreshChart()" step="any" />
                <input type="number" ng-model="unitsPerTick" ng-change="refreshChart()" step="any" />
            </div>
            <label for="rozmiar">Podaj wymiary wykresu</label>
            <div id="rozmiar">
                <input type="number" ng-model="width" value="600" step="0" />
                <input type="number" ng-model="height" value="600" step="0" />
                <input type="submit" ng-click="resizeChart()" value="Zmień rozmiar wykresu" />
            </div>
        </div>
    </div>
    <canvas ng-show="drawVisible" id="canvas" width="600" height="600"></canvas>
</div>

@section Scripts
{
    <script>
        var myApp = angular.module('myApp', []);
        myApp.filter('range', function () {
            return function (input, total) {
                total = parseInt(total);
                for (var i = 0; i < total; i++)
                    input.push(i);
                return input;
            };
        });

        myApp.filter('reverse', function () {
            return function (items) {
                return items.slice().reverse();
            };
        });

        var globalParameters1 = [];
        var globalParameters2 = [];
        var globalParameters3 = [];

        function Controller($scope, $http) {
            $scope.Math = Math;

            $scope.xArr = [];

            $scope.yArr = [];

            $scope.minX = -100;

            $scope.maxX = 100;

            $scope.minY = -100;

            $scope.maxY = 100;

            $scope.unitsPerTick = 5;

            $scope.width = 600;

            $scope.height = 600;

            $scope.polynomial1Params = {};

            $scope.polynomial2Params = {};

            $scope.polynomial3Params = {};

            $scope.formula = "";

            $scope.visible = false;

            $scope.clear = function () {
                for (var i = $scope.numberOfValues; i < $scope.xArr.length; i++) {
                    $scope.xArr[i] = null;
                }
                for (var i = $scope.numberOfValues; i < $scope.yArr.length; i++) {
                    $scope.yArr[i] = null;
                }
                $scope.moreThanZero = true;
            }

            $scope.checkDuplicates = function () {
                var test = false;
                for (var i = 0; i < $scope.xArr.length; i++) {
                    if ($scope.xArr[i] == $scope.xArr[i + 1]) {
                        test = true;
                        break;
                    }
                }
                return test;
            }

            $scope.check = function () {
                if ($scope.checkDuplicates()) {
                    $scope.numberOfValues = 0;
                    $scope.clear();
                    $scope.moreThanZero = false;
                    $scope.valVisible = false;
                    $scope.visible = false;
                    alert("Wartości na osi X nie mogą zawierać duplikatów!");
                    return true;
                }
                else
                    return false;
            }

            $scope.getParams = function () {
                for (var i = 0; i < $scope.numberOfValues; i++) {
                    $scope.xArr[i] = parseFloat($scope.xArr[i]);
                    $scope.yArr[i] = parseFloat($scope.yArr[i]);
                    if (isNaN($scope.xArr[i]) || $scope.xArr[i] == undefined || isNaN($scope.yArr[i]) || $scope.yArr[i] == undefined)
                        return;
                }
                if ($scope.check()) {
                    return;
                }
                var parameters = { X: $scope.xArr, Y: $scope.yArr };
                $http({
                    method: 'GET',
                    url: '/GetPolynomialsParametersOfLI',
                    params: parameters
                }).success(function (data, status, headers, config) {
                    $scope.polynomialParams1 = data.map(function (val, ind) {
                        return { "index": ind, "value": val };
                    }).reverse();
                    $scope.formula1 = "W(x)=";
                    for (var i = data.length - 1; i >= 0; i--) {
                        if (i == data.length - 1)
                            $scope.formula1 += data[i] + "*x^" + i;
                        else if (data[i] != 0)
                            $scope.formula1 += "+" + data[i] + "*x^" + i;
                    }
                });
                $http({
                    method: 'GET',
                    url: '/GetPolynomialsParametersOfChebyshevPI',
                    params: parameters
                }).success(function (data, status, headers, config) {
                    $scope.polynomialParams2 = data.map(function (val, ind) {
                        return { "index": ind, "value": val };
                    }).reverse();
                    $scope.formula2 = "W(x)=";
                    for (var i = data.length - 1; i >= 0; i--) {
                        if (i == data.length - 1)
                            $scope.formula2 += data[i] + "*x^" + i;
                        else if (data[i] != 0)
                            $scope.formula2 += "+" + data[i] + "*x^" + i;
                    }
                });
                $http({
                    method: 'GET',
                    url: '/GetPolynomialsParametersOfHermitePI',
                    params: parameters
                }).success(function (data, status, headers, config) {
                    $scope.polynomialParams3 = data.map(function (val, ind) {
                        return { "index": ind, "value": val };
                    }).reverse();
                    $scope.formula3 = "W(x)=";
                    for (var i = data.length - 1; i >= 0; i--) {
                        if (i == data.length - 1)
                            $scope.formula3 += data[i] + "*x^" + i;
                        else if (data[i] != 0)
                            $scope.formula3 += "+" + data[i] + "*x^" + i;
                    }
                });
                $scope.visible = true;
            }

            $scope.getValue = function (value) {
                if (value == null)
                    return;
                for (var i = 0; i < $scope.numberOfValues; i++) {
                    $scope.xArr[i] = parseFloat($scope.xArr[i]);
                    $scope.yArr[i] = parseFloat($scope.yArr[i]);
                    if (isNaN($scope.xArr[i]) || $scope.xArr[i] == undefined || isNaN($scope.yArr[i]) || $scope.yArr[i] == undefined)
                        return;
                }
                if ($scope.check()) {
                    return;
                }
                var parameters = { val: value, X: $scope.xArr, Y: $scope.yArr };
                $http({
                    method: 'GET',
                    url: '/ComputeInterpolatedValueOfLI',
                    params: parameters
                }).success(function (data, status, headers, config) {
                    $scope.result1 = data;
                });
                $http({
                    method: 'GET',
                    url: '/ComputeInterpolatedValueOfChebyshevPI',
                    params: parameters
                }).success(function (data, status, headers, config) {
                    $scope.result2 = data;
                });
                $http({
                    method: 'GET',
                    url: '/ComputeInterpolatedValueOfHermitePI',
                    params: parameters
                }).success(function (data, status, headers, config) {
                    $scope.result3 = data;
                });
                $scope.valVisible = true;
            }

            $scope.drawChart = function () {
                for (var i = 0; i < $scope.numberOfValues; i++) {
                    $scope.xArr[i] = parseFloat($scope.xArr[i]);
                    $scope.yArr[i] = parseFloat($scope.yArr[i]);
                    if (isNaN($scope.xArr[i]) || $scope.xArr[i] == undefined || isNaN($scope.yArr[i]) || $scope.yArr[i] == undefined)
                        return;
                }
                if ($scope.check()) {
                    return;
                }
                var parameters = { X: $scope.xArr, Y: $scope.yArr };
                $http({
                    method: 'GET',
                    url: '/GetPolynomialsParametersOfLI',
                    params: parameters,
                    async: false
                }).success(function (data, status, headers, config) {
                    globalParameters1 = data;
                    draw($scope.minX, $scope.maxX, $scope.minY, $scope.maxY, $scope.unitsPerTick);
                    $scope.drawVisible = true;
                });
                $http({
                    method: 'GET',
                    url: '/GetPolynomialsParametersOfChebyshevPI',
                    params: parameters,
                    async: false
                }).success(function (data, status, headers, config) {
                    globalParameters2 = data;
                    draw($scope.minX, $scope.maxX, $scope.minY, $scope.maxY, $scope.unitsPerTick);
                    $scope.drawVisible = true;
                });
                $http({
                    method: 'GET',
                    url: '/GetPolynomialsParametersOfHermitePI',
                    params: parameters,
                    async: false
                }).success(function (data, status, headers, config) {
                    globalParameters3 = data;
                    draw($scope.minX, $scope.maxX, $scope.minY, $scope.maxY, $scope.unitsPerTick);
                    $scope.drawVisible = true;
                });
            }

            $scope.refreshChart = function () {
                if (parseFloat($scope.unitsPerTick) <= 0 || isNaN(parseFloat($scope.unitsPerTick)))
                    return;
                $scope.drawVisible = true;
                draw($scope.minX, $scope.maxX, $scope.minY, $scope.maxY, $scope.unitsPerTick);
            }

            $scope.resizeChart = function () {
                var canvas = document.getElementById("canvas");
                canvas.width = $scope.width;
                canvas.height = $scope.height;
                canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
                $scope.drawVisible = true;
                if (parseFloat($scope.unitsPerTick) <= 0 || isNaN(parseFloat($scope.unitsPerTick)))
                    return;
                draw($scope.minX, $scope.maxX, $scope.minY, $scope.maxY, $scope.unitsPerTick);
            }
        }

        function linearInterpolation(x) {
            var y = 0;
            for (var i = globalParameters1.length - 1; i >= 0; i--)
                y += globalParameters1[i] * Math.pow(x, i);
            return y;
        }

        function ChebyshevInterpolation(x) {
            var y = 0;
            for (var i = globalParameters2.length - 1; i >= 0; i--)
                y += globalParameters2[i] * Math.pow(x, i);
            return y;
        }

        function HermiteInterpolation(x) {
            var y = 0;
            for (var i = globalParameters3.length - 1; i >= 0; i--)
                y += globalParameters3[i] * Math.pow(x, i);
            return y;
        }

        function Graph(config) {
            // user defined properties
            this.canvas = document.getElementById(config.canvasId);
            this.minX = config.minX;
            this.minY = config.minY;
            this.maxX = config.maxX;
            this.maxY = config.maxY;
            this.unitsPerTick = config.unitsPerTick;

            // constants
            this.axisColor = '#aaa';
            this.font = '8pt Calibri';
            this.tickSize = 20;

            // relationships
            this.context = this.canvas.getContext('2d');
            this.rangeX = this.maxX - this.minX;
            this.rangeY = this.maxY - this.minY;
            this.unitX = this.canvas.width / this.rangeX;
            this.unitY = this.canvas.height / this.rangeY;
            this.centerY = Math.round(Math.abs(this.minY / this.rangeY) * this.canvas.height);
            this.centerX = Math.round(Math.abs(this.minX / this.rangeX) * this.canvas.width);
            this.iteration = (this.maxX - this.minX) / 1000;
            this.scaleX = this.canvas.width / this.rangeX;
            this.scaleY = this.canvas.height / this.rangeY;

            // draw x and y axis
            this.drawXAxis();
            this.drawYAxis();
        }

        Graph.prototype.drawXAxis = function () {
            var context = this.context;
            context.save();
            context.beginPath();
            context.moveTo(0, this.centerY);
            context.lineTo(this.canvas.width, this.centerY);
            context.strokeStyle = this.axisColor;
            context.lineWidth = 2;
            context.stroke();

            // draw tick marks
            var xPosIncrement = this.unitsPerTick * this.unitX;
            var xPos, unit;
            context.font = this.font;
            context.textAlign = 'center';
            context.textBaseline = 'top';

            // draw left tick marks
            xPos = this.centerX - xPosIncrement;
            unit = -1 * this.unitsPerTick;
            while (xPos > 0) {
                context.moveTo(xPos, this.centerY - this.tickSize / 2);
                context.lineTo(xPos, this.centerY + this.tickSize / 2);
                context.stroke();
                context.fillText(unit, xPos, this.centerY + this.tickSize / 2 + 3);
                unit -= this.unitsPerTick;
                xPos = Math.round(xPos - xPosIncrement);
            }

            // draw right tick marks
            xPos = this.centerX + xPosIncrement;
            unit = this.unitsPerTick;
            while (xPos < this.canvas.width) {
                context.moveTo(xPos, this.centerY - this.tickSize / 2);
                context.lineTo(xPos, this.centerY + this.tickSize / 2);
                context.stroke();
                context.fillText(unit, xPos, this.centerY + this.tickSize / 2 + 3);
                unit += this.unitsPerTick;
                xPos = Math.round(xPos + xPosIncrement);
            }
            context.restore();
        };

        Graph.prototype.drawYAxis = function () {
            var context = this.context;
            context.save();
            context.beginPath();
            context.moveTo(this.centerX, 0);
            context.lineTo(this.centerX, this.canvas.height);
            context.strokeStyle = this.axisColor;
            context.lineWidth = 2;
            context.stroke();

            // draw tick marks
            var yPosIncrement = this.unitsPerTick * this.unitY;
            var yPos, unit;
            context.font = this.font;
            context.textAlign = 'right';
            context.textBaseline = 'middle';

            // draw top tick marks
            yPos = this.centerY - yPosIncrement;
            unit = this.unitsPerTick;
            while (yPos > 0) {
                context.moveTo(this.centerX - this.tickSize / 2, yPos);
                context.lineTo(this.centerX + this.tickSize / 2, yPos);
                context.stroke();
                context.fillText(unit, this.centerX - this.tickSize / 2 - 3, yPos);
                unit += this.unitsPerTick;
                yPos = Math.round(yPos - yPosIncrement);
            }

            // draw bottom tick marks
            yPos = this.centerY + yPosIncrement;
            unit = -1 * this.unitsPerTick;
            while (yPos < this.canvas.height) {
                context.moveTo(this.centerX - this.tickSize / 2, yPos);
                context.lineTo(this.centerX + this.tickSize / 2, yPos);
                context.stroke();
                context.fillText(unit, this.centerX - this.tickSize / 2 - 3, yPos);
                unit -= this.unitsPerTick;
                yPos = Math.round(yPos + yPosIncrement);
            }
            context.restore();
        };

        Graph.prototype.drawEquation = function (equation, color, thickness) {
            var context = this.context;
            context.save();
            context.save();
            this.transformContext();

            context.beginPath();
            context.moveTo(this.minX, equation(this.minX));

            for (var x = this.minX + this.iteration; x <= this.maxX; x += this.iteration) {
                context.lineTo(x, equation(x));
            }

            context.restore();
            context.lineJoin = 'round';
            context.lineWidth = thickness;
            context.strokeStyle = color;
            context.stroke();
            context.restore();
        };

        Graph.prototype.transformContext = function () {
            var context = this.context;

            // move context to center of canvas
            this.context.translate(this.centerX, this.centerY);

            /*
             * stretch grid to fit the canvas window, and
             * invert the y scale so that that increments
             * as you move upwards
             */
            context.scale(this.scaleX, -this.scaleY);
        };

        function draw(minXVal, maXVal, minYVal, maxYVal, unitsPerTickVal) {
            var canvas = document.getElementById("canvas");
            canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
            var graph = new Graph({
                canvasId: 'canvas',
                minX: minXVal,
                minY: minYVal,
                maxX: maXVal,
                maxY: maxYVal,
                unitsPerTick: unitsPerTickVal
            });

            graph.drawEquation(linearInterpolation, "red", 2);
            graph.drawEquation(ChebyshevInterpolation, "green", 2);
            graph.drawEquation(HermiteInterpolation, "blue", 2);
        }

    </script>
}
