﻿<div ng-controller="Controller">
    <div>
        <label for="numVal">Liczba wartości do intepolacji  </label>
        <input type="number" ng-model="numberOfValues" ng-change="clear()" id="numVal" min="1" />
    </div>
    <div ng-repeat="n in [] | range:numberOfValues">
        <label for="x{{n + 1}}">x{{n + 1}}</label>
        <input type="number" @*step="{{Math.pow(10,-step)}}"*@ step="any" placeholder="x{{n + 1}}" ng-model="xArr[n]" id="x{{n + 1}}" />
        <label for="y{{n + 1}}">y{{n + 1}}</label>
        <input type="number" @*step="{{Math.pow(10,-step)}}"*@ step="any" placeholder="y{{n + 1}}" ng-model="yArr[n]" id="y{{n + 1}}" />
    </div>
    <input type="submit" value="Pobierz parametry funkcji interpolującej" ng-click="getParams()" ng-show="moreThanZero" class="btn btn-primary" />
    <div ng-show="visible">
        <div>
            <label for="lineParams">W przypadku interpolacji liniowej:</label>
            <ul class="list-inline">
                <li ng-repeat="parameter in polynomialParams1">a{{parameter.index}}={{parameter.value}}</li>
            </ul>
        </div>
        <div>
            <label for="ChebyshevParams">W przypadku interpolacji za pomocą wielomianu Czebyszewa:</label>
            <ul class="list-inline">
                <li ng-repeat="parameter in polynomialParams2">a{{parameter.index}}={{parameter.value}}</li>
            </ul>
        </div>
        <div>
            <label for="HermiteParams">W przypadku interpolacji za pomocą wielomianu Hermite'a:</label>
            <ul class="list-inline">
                <li ng-repeat="parameter in polynomialParams3">a{{parameter.index}}={{parameter.value}}</li>
            </ul>
        </div>
        <div>
            <label>Wzory interpolujące</label>
            <ul class="list-inline">
                <li>W przypadku interpolacji liniowej:</li>
                <li id="f1">{{formula1}}</li>
            </ul>
            <ul class="list-inline">
                <li>W przypadku interpolacji za pomocą wielomianu Czebyszewa:</li>
                <li id="f2">{{formula2}}</li>
            </ul>
            <ul class="list-inline">
                <li>W przypadku interpolacji za pomocą wielomianu Hermite'a:</li>
                <li id="f3">{{formula3}}</li>
            </ul>
        </div>
    </div>
    <div ng-show="moreThanZero">
        <p>Wpisz wartość, którą chcesz interpolować</p>
        <input type="number" step="any" ng-model="value" placeholder="Wprowadź wartość" />
        <input type="submit" value="Oblicz" ng-click="getValue(value)" class="btn btn-primary" />
        <div ng-show="valVisible">
            <ul class="list-inline">
                <li>W przypadku interpolacji liniowej:</li>
                <li id="res1">{{result1}}</li>
            </ul>
            <ul class="list-inline">
                <li>W przypadku interpolacji za pomocą wielomianu Czebyszewa:</li>
                <li id="res2">{{result2}}</li>
            </ul>
            <ul class="list-inline">
                <li>W przypadku interpolacji za pomocą wielomianu Hermite'a:</li>
                <li id="res3">{{result3}}</li>
            </ul>
        </div>
    </div>
    <div ng-show="moreThanZero">
        <input type="submit" value="Rysuj" ng-click="drawChart()" class="btn btn-primary" />
        <div ng-show="drawVisible">
            <label for="legenda">Legenda</label>
            <div id="legenda">
                <p>Czerwony - krzywa interpolacji liniowej</p>
                <p>Zielony - krzywa interpolacji wielomianem Czebyszewa</p>
                <p>Niebieski - krzywa interpolacji wielomianem Hermite'a</p>
            </div>
            <label for="wartosci">Podaj wartośći: minX, maxX, minY, maxY oraz co ile rozmieścić jednostkę</label>
            <div id="wartosci">
                <input type="number" ng-model="minX" ng-change="refreshChart()" step="any" />
                <input type="number" ng-model="maxX" ng-change="refreshChart()" step="any" />
                <input type="number" ng-model="minY" ng-change="refreshChart()" step="any" />
                <input type="number" ng-model="maxY" ng-change="refreshChart()" step="any" />
                <input type="number" ng-model="unitsPerTick" ng-change="refreshChart()" step="any" />
            </div>
            <label for="rozmiar">Podaj wymiary wykresu</label>
            <div id="rozmiar">
                <input type="number" ng-model="width" value="600" step="0" />
                <input type="number" ng-model="height" value="600" step="0" />
                <input type="submit" ng-click="resizeChart()" value="Zmień rozmiar wykresu" />
            </div>
        </div>
    </div>
    <canvas ng-show="drawVisible" id="canvas" width="600" height="600"></canvas>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/Controller")
    @Scripts.Render("~/bundles/draw")
    @Scripts.Render("~/bundles/filters")
    @Scripts.Render("~/bundles/Global")
    @Scripts.Render("~/bundles/Graph")
}
