﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/bootstrap")
    @RenderSection("Scripts", false)
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @RenderBody()
</body>
</html>
