﻿@using autofac_paging.Models
@using PagedList
@using PagedList.Mvc
@model PagedList<Products>
<!DOCTYPE html>
<html>
<head>
    <title>Autofac i page'owanie</title>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>
    <ul>
        @foreach (Products item in Model)
        {
            <li>
                <p>Nazwa produktu: @item.ProductName</p>
                <p>Cena jednostkowa: @item.UnitPrice</p>
                <p>Ilość/jednostkę: @item.QuantityPerUnit</p>
            </li>
        }
    </ul>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</body>
</html>
