﻿<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Zadania</title>
</head>
<body>
    @Html.ActionLink("Zadanie 1", "Zad1")
    <br />
    @Html.ActionLink("Zadanie 2", "Zad2")
    <br />
    @*@Html.ActionLink("Zadanie 2 (stare)", "Zad2s")
    <br />*@
    @Html.ActionLink("Zadanie 3", "Zad3")
</body>
</html>
