﻿<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Zadanie 1</title>
    @using System.Web.Optimization
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/bootstrap")
    <script>
        window.onload = function () {
            function Zad1ViewModel() {
                var self = this;
                self.dataWydarzenia = ko.observable("");
                self.opisWydarzenia = ko.observable("");
                self.wydarzenia = ko.observableArray();
                self.doUsuniecia = ko.observableArray();

                self.dodajWydarzenie = function () {
                    if (self.dataWydarzenia().length > 0 && self.opisWydarzenia().length > 0) {
                        self.wydarzenia.push({ 'data': self.dataWydarzenia(), 'opis': self.opisWydarzenia() });
                        self.wydarzenia.sort(function (left, right) {
                            return left.data == right.data ? 0 : (left.data < right.data ? -1 : 1)
                        });
                    }
                };

                self.zlacz = function (data, opis) {
                    return data + " " + opis;
                };

                self.usunWydarzenie = function () {
                    self.wydarzenia.remove(this);
                };
            };

            ko.applyBindings(new Zad1ViewModel());
        }
    </script>
</head>
<body>
    <h1>Zadanie 1</h1>
    <input type="date" data-bind="value: dataWydarzenia" />
    <input type="text" data-bind="value: opisWydarzenia" />
    <input type="submit" value="Dodaj wydarzenie" data-bind="click: dodajWydarzenie" />
    <input type="submit" value="Usuń wydarzenie" data-bind="click: usunWydarzenie" />
    <div data-bind="foreach: wydarzenia">
        <div>
            <p data-bind="text: $root.zlacz(data, opis)"></p>
            <p data-bind="click: $root.usunWydarzenie">Usuń</p>
        </div>
    </div>
</body>
</html>
