﻿<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Zadanie 2</title>
    @using System.Web.Optimization
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/bootstrap")
    <script>
        window.onload = function () {
            function Zad2ViewModel() {
                var self = this;

                self.kolor = function () {
                    if (self.wartosc() < 100)
                        return "black";
                    else if (self.wartosc() >= 100 && self.wartosc() < 400)
                        return "green";
                    else if (self.wartosc() >= 400 && self.wartosc() < 700)
                        return "orange";
                    else
                        return "red";
                };

                self.wartosc = ko.observable(99);

                self.dlugosc = function () {
                    return self.dlugoscKomunikatu();
                };

                self.dlugoscKomunikatu = ko.observable(10);

                self.tekst = ko.computed(function () {
                    var komunikat = "Aktualna temperatura rdzenia: " + self.wartosc();
                    //self.rozszerz(komunikat.length);
                    self.dlugoscKomunikatu(komunikat.length);
                    self.kolor(self.wartosc());
                    return komunikat;
                }, self);

                self.zmniejsz = function () {
                    self.wartosc(self.wartosc() - 1);
                };

                self.zwieksz = function () {
                    self.wartosc(self.wartosc() + 1);
                };

            };

            ko.applyBindings(new Zad2ViewModel());
        }
    </script>
</head>
<body>
    <h1>Zadanie 2</h1>
    <input type="button" value="-" data-bind="click: zmniejsz" />
    <input type="text" data-bind="value: tekst, style: { color: kolor() }, attr: { size: dlugosc() }" />
    <input type="button" value="+" data-bind="click: zwieksz" />
</body>
</html>
