﻿<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Zadanie 2</title>
    @using System.Web.Optimization
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/bootstrap")
    <script>
        window.onload = function () {
            function Zad2ViewModel() {
                var self = this;

                self.rozszerz = function (dlugosc) {
                    document.getElementById("tekst").size = dlugosc;
                };

                self.kolor = function (temperatura) {
                    var oblicz = function (t) {
                        if (t < 100)
                            return "black";
                        else if (t >= 100 && t < 400)
                            return "green";
                        else if (t >= 400 && t < 700)
                            return "orange";
                        else
                            return "red";
                    }
                    $("#tekst").css('color', oblicz(temperatura));
                };

                self.wartosc = ko.observable(99);

                self.tekst = ko.computed(function () {
                    var komunikat = "Aktualna temperatura rdzenia: " + self.wartosc();
                    self.rozszerz(komunikat.length);
                    self.kolor(self.wartosc());
                    return komunikat;
                }, self);

                self.zmniejsz = function () {
                    self.wartosc(self.wartosc() - 1);
                };

                self.zwieksz = function () {
                    self.wartosc(self.wartosc() + 1);
                };

            }

            ko.applyBindings(new Zad2ViewModel());
        }
    </script>
</head>
<body>
    <h1>Zadanie 2</h1>
    <input type="button" value="-" data-bind="click: zmniejsz" />
    <input type="text" id="tekst" data-bind="value: tekst" />
    <input type="button" value="+" data-bind="click: zwieksz" />
</body>
</html>
