﻿<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Zadanie 3</title>
    @using System.Web.Optimization
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/bootstrap")
    <script>
        window.onload = function () {
            var Rzad = function () {
                var self = this;

                self.wartosc = ko.observable();

                self.oblicz = function () {
                    var ile = parseFloat(self.wartosc());
                    if (!isNaN(ile))
                        return ile;
                    else
                        return 0;
                }
            };

            function Zad3ViewModel() {
                var self = this;

                self.rzedy = ko.observableArray([new Rzad()]);

                self.obliczSume = ko.computed(function () {
                    var lacznie = 0;
                    $.each(self.rzedy(), function () { lacznie += this.oblicz() })
                    return "Suma: " + lacznie;
                });

                self.ileDodano = ko.computed(function () {
                    return "Dodanych elementów: " + self.rzedy().length;
                });

                self.dodajRzad = function () {
                    self.rzedy.push(new Rzad());
                };
            };

            ko.applyBindings(new Zad3ViewModel());
        }
    </script>
</head>
<body>
    <h1>Zadanie 3</h1>
    <table>
        <thead>
            <tr>
                <th>Wartość</th>
            </tr>
        </thead>
        <tbody data-bind='foreach: rzedy'>
            <tr>
                <td>
                    <input type="number" data-bind="value: wartosc, valueUpdate: 'afterkeydown'" />
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Dodaj" data-bind="click: dodajRzad" />
    <p data-bind="text: obliczSume"></p>
    <p data-bind="text: ileDodano"></p>
</body>
</html>
