﻿<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()
</body>
</html>
